.sidenav-container {
    height: 100vh;
  }
  .sidenav {
    width: 200px;
  }
  .content {
    padding: 16px;
  }

  .card {
    background: var(--card-bg);
    border: var(--card-border);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
  }